*{box-sizing: border-box; }
html, body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #222;
  background: #f8f9fa;
  max-width: 72ch;
  margin: 0 auto;
  padding: 2rem;
}

head {
  text-align: center;
}

figure {
  text-align: center;
}

input, textarea {
  padding: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 2.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form {
  display: flex;
  flex-direction: column;
  
}

@media (min-width: 700px) {
  body {padding: 2rem; }
  form {max-width: 600px; }
}
